<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 title">Page Title</div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <ng-container *ngFor="let item of this.feedData">
          <div class="col-sm-4 content-box">
            <div class="upper-box">
              <img src={{item.media.m}} class="feedImage"/>
              <p class="feedTitle" *ngIf="item.title.length > 0">
                {{(item.title.length > 50 ) ? (item.title | slice:0:50)+'..' : (item.title)}}
              </p>
            </div>
            <div class="lower-box">
              <div class="authorDiv">
                uploaded by {{item.author | regex }} on {{item.published | date : full}}
              </div>
              <div class="descDiv">This is a sample description that can be on an image</div>
              <div class="tagsDiv">{{item.tags | tags}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-sm-10"></div>
  </div>
</div>